<section class="no-padding" id="schedule">
  <aside class="bg-dark">
    <div class="container text-center">
        <div class="schedule">
            <h2>2024 Schedule</h2>
            <hr class="primary">
            <table class="table-schedule">
              <thead>
                <tr>
                  <th class="schedule-title">SHOWCASE</th>
                  <th class="schedule-title">DATE</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="schedule-row">Maverick Showtime</td>
                  <td class="schedule-row">June 20th - 22nd</td>
                </tr>
                <tr>
                  <td class="schedule-row">Main Stage</td>
                  <td class="schedule-row">July 7th - 8th</td>
                </tr>
              </tbody>
              </table>
            <!-- <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a> -->
        </div>
    </div>
  </aside>
</section>